<project>
  <languages>
    <language
      name="C#"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name=".">
        <watched
          excludes=".*"
          subdirs="true">
          <filter
            name="C#"/>
          <filter
            name="CSS"/>
          <filter
            name="Html"/>
          <filter
            name="Javascript"/>
          <filter
            name="Php"/>
          <filter
            name="TypeScript"/>
          <filter
            name="Xml"/>
        </watched>
      </dir>
      <dir
        name="Assets">
        <dir
          name="Scripts"/>
      </dir>
      <dir
        name="Library">
        <dir
          name="PackageCache">
          <dir
            name="com.unity.2d.animation@3.2.5">
            <dir
              name="Editor">
              <dir
                name="ClipperLib"/>
              <dir
                name="LayoutOverlay">
                <dir
                  name="Manipulators"/>
              </dir>
              <dir
                name="SkinningModule">
                <dir
                  name="Cache"/>
                <dir
                  name="CharacterModeTool"/>
                <dir
                  name="IMGUI"/>
                <dir
                  name="MeshPreviewTool"/>
                <dir
                  name="MeshTool"/>
                <dir
                  name="OutlineGenerator"/>
                <dir
                  name="Selection"/>
                <dir
                  name="Selectors"/>
                <dir
                  name="SkeletonTool"/>
                <dir
                  name="SkinningCache"/>
                <dir
                  name="SkinningSerializer"/>
                <dir
                  name="SpriteBoneInfluence"/>
                <dir
                  name="SpriteMeshData"/>
                <dir
                  name="Triangulation"/>
                <dir
                  name="UI"/>
                <dir
                  name="Undo"/>
                <dir
                  name="VisibilityTool"/>
                <dir
                  name="WeightsGenerator"/>
              </dir>
              <dir
                name="SpriteLib"/>
              <dir
                name="SpriteOutlineRenderer"/>
              <dir
                name="SpriteSkin"/>
            </dir>
            <dir
              name="Runtime">
              <dir
                name="SpriteLib"/>
              <dir
                name="Triangle">
                <dir
                  name="Geometry"/>
                <dir
                  name="IO"/>
                <dir
                  name="Logging"/>
                <dir
                  name="Meshing">
                  <dir
                    name="Algorithm"/>
                  <dir
                    name="Data"/>
                  <dir
                    name="Iterators"/>
                </dir>
                <dir
                  name="Properties"/>
                <dir
                  name="Smoothing"/>
                <dir
                  name="Tools"/>
                <dir
                  name="Topology">
                  <dir
                    name="DCEL"/>
                </dir>
                <dir
                  name="Voronoi">
                  <dir
                    name="Legacy"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="Samples~">
              <dir
                name="AnimationSamples">
                <dir
                  name="5 SpriteSwap">
                  <dir
                    name="Scripts">
                    <dir
                      name="Editor"/>
                    <dir
                      name="Runtime"/>
                  </dir>
                </dir>
                <dir
                  name="Scripts"/>
              </dir>
            </dir>
            <dir
              name="Tests">
              <dir
                name="Editor"/>
            </dir>
          </dir>
          <dir
            name="com.unity.2d.common@2.0.2">
            <dir
              name="Editor">
              <dir
                name="ImagePacker">
                <dir
                  name="Jobs"/>
              </dir>
              <dir
                name="InternalBridge"/>
              <dir
                name="TextureGenerator"/>
            </dir>
            <dir
              name="Runtime">
              <dir
                name="InternalBridge"/>
            </dir>
            <dir
              name="Tests">
              <dir
                name="Editor"/>
            </dir>
          </dir>
          <dir
            name="com.unity.2d.path@2.0.6">
            <dir
              name="Editor">
              <dir
                name="EditablePath"/>
              <dir
                name="EditorTool"/>
              <dir
                name="IMGUI">
                <dir
                  name="GUIFramework"/>
              </dir>
              <dir
                name="Selection"/>
              <dir
                name="Shapes"/>
            </dir>
            <dir
              name="Tests"/>
          </dir>
          <dir
            name="com.unity.2d.pixel-perfect@2.0.4">
            <dir
              name="Editor"/>
            <dir
              name="Runtime"/>
            <dir
              name="Samples~">
              <dir
                name="Scenes and Extras">
                <dir
                  name="Extras">
                  <dir
                    name="Custom Canvas Scaler"/>
                </dir>
                <dir
                  name="Scenes">
                  <dir
                    name="RoboHero">
                    <dir
                      name="Scripts"/>
                  </dir>
                  <dir
                    name="Rule Tiles">
                    <dir
                      name="Scripts">
                      <dir
                        name="Editor"/>
                    </dir>
                  </dir>
                  <dir
                    name="Scripts"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="Tests">
              <dir
                name="Editor"/>
              <dir
                name="Runtime"/>
            </dir>
          </dir>
          <dir
            name="com.unity.2d.psdimporter@2.1.6">
            <dir
              name="Editor">
              <dir
                name="PSDPlugin">
                <dir
                  name="PDNWrapper"/>
                <dir
                  name="PhotoShopFileType"/>
                <dir
                  name="PsdFile">
                  <dir
                    name="Compression"/>
                  <dir
                    name="ImageResources"/>
                  <dir
                    name="Layers">
                    <dir
                      name="LayerInfo"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="Tasks"/>
            </dir>
            <dir
              name="Tests">
              <dir
                name="EditorTests"/>
            </dir>
          </dir>
          <dir
            name="com.unity.2d.spriteshape@3.0.14">
            <dir
              name="Editor"/>
            <dir
              name="Runtime">
              <dir
                name="External">
                <dir
                  name="LibTessDotNet"/>
              </dir>
            </dir>
            <dir
              name="Samples~">
              <dir
                name="Extras">
                <dir
                  name="Scripts"/>
              </dir>
            </dir>
            <dir
              name="Tests"/>
          </dir>
          <dir
            name="com.unity.collab-proxy@1.2.16">
            <dir
              name="Editor">
              <dir
                name="Collab">
                <dir
                  name="Presenters"/>
                <dir
                  name="Views"/>
              </dir>
            </dir>
            <dir
              name="Tests">
              <dir
                name="Editor"/>
            </dir>
          </dir>
          <dir
            name="com.unity.ext.nunit@1.0.0">
            <dir
              name="net35">
              <dir
                name="unity-custom"/>
            </dir>
          </dir>
          <dir
            name="com.unity.ide.rider@1.1.4">
            <dir
              name="Rider">
              <dir
                name="Editor">
                <dir
                  name="PostProcessors"/>
                <dir
                  name="ProjectGeneration"/>
                <dir
                  name="UnitTesting"/>
                <dir
                  name="Util"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="com.unity.ide.vscode@1.2.3">
            <dir
              name="Editor">
              <dir
                name="ProjectGeneration"/>
            </dir>
          </dir>
          <dir
            name="com.unity.mathematics@1.1.0">
            <dir
              name="Tests">
              <dir
                name="Tests">
                <dir
                  name="Shared"/>
              </dir>
            </dir>
            <dir
              name="Unity.Mathematics">
              <dir
                name="Noise"/>
            </dir>
            <dir
              name="Unity.Mathematics.Editor"/>
          </dir>
          <dir
            name="com.unity.test-framework@1.1.18">
            <dir
              name="UnityEditor.TestRunner">
              <dir
                name="Api"/>
              <dir
                name="CommandLineParser"/>
              <dir
                name="CommandLineTest"/>
              <dir
                name="GUI">
                <dir
                  name="TestListBuilder"/>
                <dir
                  name="TestListTreeView"/>
                <dir
                  name="Views"/>
              </dir>
              <dir
                name="NUnitExtension">
                <dir
                  name="Attributes"/>
              </dir>
              <dir
                name="TestLaunchers">
                <dir
                  name="PlatformSetup"/>
              </dir>
              <dir
                name="TestRun">
                <dir
                  name="Tasks"/>
              </dir>
              <dir
                name="TestRunner">
                <dir
                  name="Callbacks"/>
                <dir
                  name="Messages"/>
                <dir
                  name="Utils"/>
              </dir>
              <dir
                name="TestSettings"/>
              <dir
                name="UnityTestProtocol"/>
            </dir>
            <dir
              name="UnityEngine.TestRunner">
              <dir
                name="Assertions">
                <dir
                  name="LogScope"/>
              </dir>
              <dir
                name="NUnitExtensions">
                <dir
                  name="Attributes"/>
                <dir
                  name="Commands"/>
                <dir
                  name="Filters"/>
                <dir
                  name="Runner"/>
              </dir>
              <dir
                name="TestRunner">
                <dir
                  name="Callbacks"/>
                <dir
                  name="Messages"/>
                <dir
                  name="RemoteHelpers"/>
              </dir>
              <dir
                name="Utils">
                <dir
                  name="AssemblyProvider"/>
                <dir
                  name="MonoBehaviourTest"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="com.unity.textmeshpro@2.1.1">
            <dir
              name="Scripts">
              <dir
                name="Editor"/>
              <dir
                name="Runtime"/>
            </dir>
            <dir
              name="Tests">
              <dir
                name="Editor"/>
              <dir
                name="Runtime"/>
            </dir>
          </dir>
          <dir
            name="com.unity.timeline@1.2.17">
            <dir
              name="Editor">
              <dir
                name="Actions">
                <dir
                  name="Menus"/>
              </dir>
              <dir
                name="Activation"/>
              <dir
                name="Analytics"/>
              <dir
                name="Animation"/>
              <dir
                name="Attributes"/>
              <dir
                name="Audio"/>
              <dir
                name="ControlTrack"/>
              <dir
                name="CustomEditors"/>
              <dir
                name="Extensions"/>
              <dir
                name="Items"/>
              <dir
                name="Manipulators">
                <dir
                  name="AddDelete"/>
                <dir
                  name="Cursors"/>
                <dir
                  name="Move"/>
                <dir
                  name="Sequence"/>
                <dir
                  name="Trim"/>
                <dir
                  name="Utils"/>
              </dir>
              <dir
                name="Playables"/>
              <dir
                name="Properties"/>
              <dir
                name="Recording"/>
              <dir
                name="Signals">
                <dir
                  name="TreeView"/>
              </dir>
              <dir
                name="State"/>
              <dir
                name="Utilities"/>
              <dir
                name="Window">
                <dir
                  name="Modes"/>
                <dir
                  name="ViewModel"/>
              </dir>
              <dir
                name="inspectors">
                <dir
                  name="ClipInspector"/>
                <dir
                  name="CurvesOwner"/>
              </dir>
              <dir
                name="treeview">
                <dir
                  name="Drawers">
                  <dir
                    name="Layers"/>
                </dir>
                <dir
                  name="ItemGui"/>
                <dir
                  name="Snapping"/>
              </dir>
            </dir>
            <dir
              name="Runtime">
              <dir
                name="Activation"/>
              <dir
                name="Animation"/>
              <dir
                name="AssetUpgrade"/>
              <dir
                name="Attributes"/>
              <dir
                name="Audio"/>
              <dir
                name="Control"/>
              <dir
                name="Evaluation"/>
              <dir
                name="Events">
                <dir
                  name="Signals"/>
              </dir>
              <dir
                name="Extensions"/>
              <dir
                name="Playables"/>
              <dir
                name="Properties"/>
              <dir
                name="Scripting"/>
              <dir
                name="Utilities"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <annotations_options/>
  <comparison_options
    comparison_db=""/>
  <csharp_options
    analyze_reference_dlls="true"
    count_standard_in_max_inheritance="false"
    locate_system_classes="UseDefaultFramework"
    save_comments_associated_with_entities="true"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    assume_single_choices="false"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
